*.log
.DS_Store
.phpactor.json
.phpunit.result.cache
/.cursor
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/claude
/cursor
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
*.bat
*.cmd
*.ps1
*.sh
*.md
*.txt
*.csv
*.xls
*.xlsx
*.xlsm
*.ods
*.sql
.env
.env.backup
.env.production
.env.local
.env.*.local
/env-guide/
/guide/
/image-guide/
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
